---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "IaaS"
description: |-
{{ index (split (.Description | plainmarkdown | trimspace) "\n") 0 | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
